*
!config/
!config/config.yaml
config/samples.tsv
!config/slurm.yaml
!LICENSE
!README.md
!profile
!profile/slurm
!profile/slurm/*
resources
resources/*
results
results/*
!workflow
!workflow/*
!workflow/**
workflow/.snakemake*
workflow/scripts/.snakemake*
!.gitignore
!.editorconfig
!.gitattributes
!.test
!.test/data
